
.content-box-banner {

	h3 {
		margin-bottom: 15px;
	}
}

.content-box-banner__box {
	background-color: $lightGrey;
	padding: 30px 15px;
}

.content-box-banner__row {
	padding: 25px 0;
}

/*
	* Media Queries
	*/

@include mq($from: screen980) {

	.content-box-banner__box {
		padding: 30px;
	}
	
	.content-box-banner__row {
		padding: 50px 0;
	}

}

@include mq($until: screen980) {


.content-box-banner {

	ul {
		margin-bottom: 0;
	}
}
}