/*
	* Content Row
	*/


.content-grid {
	display: flex;
	flex-direction: column;
}

.content-grid__col-1 {
	width: 100%;
}

.content-grid__col-2 {
	width: 100%;
}

/*
	* Media Queries
	*/

	@include mq($from: screen740) {

		.content-grid {
			flex-direction: row;
		}
	
		.content-grid__col-1 {
			width: 50%;
			padding-right: clamp(15px, 2vw, 25px);
		}
		
		.content-grid__col-2 {
			width: 50%;
			padding-left: clamp(15px, 2vw, 25px);
		}
	}