.site-header {
	background: rgb(255 255 255 / 80%);
	position: fixed;
	width: 100%;
	z-index: 100;
}

.site-header__wrapper {
	padding: 10px 5px 5px 5px;
}

.site-header__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-header__logo {
	max-width: 120px;
}

.site-header__nav {
	list-style: none;
	letter-spacing: -0.5px;
  margin: 10px 0;
	padding-left: 0;
	display: inline-block;
	color: $grey;
	font-size: 14px;
}

.site-header__nav-list {
	display: inline-block;
	padding: 0 7px;
}

.site-header__anchor {
	font-family: $headerFontFamily;
	position: relative;
	color: $grey;
	padding: 10px 0;
	transition: color .2s ease-in-out;
}

.site-header__anchor:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $lightOrange;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.site-header__anchor:hover{ 
  color: $greyHover;
}

/*
	* Modifiers
	*/

.site-header__nav-list--active {

	.site-header__anchor:after {
		width: 100%; 
		left: 0;
	}
}

/*
	* Media queries
	*/

@include mq($from: screen740) {

	.site-header__nav {
		font-size: 18px;
    margin-left: 10px;
	}

	.site-header__wrapper {
		padding: 15px 10px;
	}

	.site-header__inner {
		flex-direction: row;
	}

	.site-header__logo {
		max-width: 195px;
	}

	.site-header__nav-list {
		padding: 0 15px;
	}

}

@include mq($from: screen980) {

	.site-header__nav {
		font-size: 24px;
	}

	.site-header__wrapper {
		padding: 15px 0 15px 15px;
	}

	.site-header__logo {
		max-width: 220px;
	}
}