/*
	* Image Article
	*/

.image-article__row {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}

.image-article__image-col {
	width: 100%;
	padding-bottom: 30px;
}

.image-article__text-col {
	width: 100%;
}

/*
	* Modifiers
	*/

/*
	* Media Queries
	*/

@include mq($from: screen980) {
	
	.image-article__row {
		flex-direction: row;
	}

	.image-article__image-col {
		width: 50%;
		padding-right: clamp(30px, 4vw, 50px);
		padding-bottom: 0;
	}

	.image-article__text-col {
		width: 50%;
	}

	/*
	* Modifiers
	*/

.image-article--flip {
	
	.image-article__image-col {
		order: 2;
    padding-right: 0;
    text-align: right;
	}

	.image-article__text-col {
		padding-right: clamp(30px, 4vw, 50px);
	}

}

}

