
html {
  font-size: 16px;
}

:focus {
  outline: $black auto 1px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  margin-bottom: 15px;
}

address {
  font-style: normal;
}