// --------------------------------------
// Layout here
// --------------------------------------

html {
  height: 100%;
  max-width: 100%;
}

body {
  color: $grey;
}

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: $containerSmWidth;
  margin: 0 auto;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

.bold-font {
  font-weight: $fontWeightBold;
}

.placeholder-about-me {
  height: 400px;
  padding-top: 50px;
  background: rgb(226, 226, 226);
  text-align: center;
}

.placeholder-counselling {
  height: 400px;
  padding-top: 50px;
  background: rgb(226, 226, 226);
  text-align: center;
}

.placeholder-appointments {
  
}

@media (min-width: 480px) {
  h1 {
    font-size: 2.25rem;
  }
}