// ---------------------------
// colours
// ---------------------------

$white: #ffffff;
$black: #000000;
$lightGrey: #F8F8F8;
$grey: #3A3939;
$orange: #D97D00;


$darkGreyFade: rgba(0, 0, 0, 0.40);

// fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 500;

$containerWidth: 1400px;
$containerSmWidth: 1024px;

$gutters: (
	"mobile": 25px,
	"desktop": 20px,
	"desktop-large": 30px
);
